.card {
    float: left !important;
    margin-top: 80px;
    margin-left: 10px;
    height: 350px;
}

.card-img-top{
    width: 18rem;
    height: 220px;
}

.card-text{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
#msg{
    position:absolute;
    top: 88px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}