.form-control {
    width: 15%
}

.form-group {
    padding: 20px;
    position: relative;
    top: 50px; 
}

.head{
    padding-top: 57px;
    padding-left: 18px;
    position: relative;
    top: 50px; 
}

.button{
    position: absolute;
    left: 20px;
    bottom: 188px;
}

#search{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
}